#
# SOPHGO CV1800B SoC
#
CONFIG_ARCH_SOPHGO=y
CONFIG_CLK_SOPHGO_CV1800=y
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_SOPHGO=y

#
# Synopsys DesignWare AXI DMA Controller
#
CONFIG_DMADEVICES=y
CONFIG_DMA_ENGINE=y
CONFIG_DMA_VIRTUAL_CHANNELS=y
CONFIG_DMA_OF=y
CONFIG_DW_AXI_DMAC=y

#
# SOPHGO CV1800B PinCtrl
#
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SOPHGO_CV18XX=y
CONFIG_PINCTRL_SOPHGO_CV1800B=y

#
# Synopsys DesignWare APB GPIO Controller
#
CONFIG_GPIOLIB=y
CONFIG_GPIO_DWAPB=y

#
# Synopsys DesignWare I2C Controller
#
CONFIG_I2C=y
# CONFIG_I2C_COMPAT is not set
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_SLAVE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y

#
# Synopsys DesignWare SPI Controller
#
CONFIG_SPI=y
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_SPI_DW_MMIO=y

#
# Synopsys DesignWare APB UART
#
CONFIG_SERIAL_8250_DMA=y
CONFIG_SERIAL_8250_DWLIB=y
CONFIG_SERIAL_8250_DW=y

#
# Synopsys DesignWare Mobile Storage Controller
#
CONFIG_MMC_SDHCI_OF_DWCMSHC=y
CONFIG_MMC_DW=y
CONFIG_MMC_DW_PLTFM=y

#
# Synopsys DesignWare Ethernet MAC 10/100/1000
#
CONFIG_NET_VENDOR_STMICRO=y
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_SOPHGO=y

#
# Synopsys DesignWare USB 2.0 OTG Controller
#
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_PHY_SOPHGO_CV1800_USB=y

# TODO: remove this
# So we can boot off of it.
CONFIG_EXT4_FS=y