# CONFIG_VIRTIO_INPUT is not set
# CONFIG_DRM is not set
# CONFIG_DRM_VIRTIO_GPU is not set
CONFIG_VIRTIO_MMIO=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_VIRTIO=y

# UART support.
CONFIG_ARM_AMBA=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

# PCIe support.
CONFIG_PCIEPORTBUS=y
CONFIG_HOTPLUG_PCI=y
CONFIG_PCI_HOST_GENERIC=y

# RTC support.
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_PL031=y