#
# Some expensive hardening options that are not enabled by default
# because they have a significant performance impact.
#

CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_DEBUG_CREDENTIALS=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PLIST=y
CONFIG_DEBUG_SG=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_DEBUG_WX=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_KASAN=y
CONFIG_KASAN_HW_TAGS=y
CONFIG_KASAN_VMALLOC=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_SHADOW_CALL_STACK=y
# CONFIG_SLAB_MERGE_DEFAULT is not set
CONFIG_UBSAN_SHIFT=y
CONFIG_UBSAN_DIV_ZERO=y
CONFIG_UBSAN_UNREACHABLE=y
CONFIG_UBSAN_SIGNED_WRAP=y
CONFIG_UBSAN_BOOL=y
CONFIG_UBSAN_ENUM=y
CONFIG_UBSAN_ALIGNMENT=y