#
# A set of options that are useful for single core, memory constrained embedded 
# systems. This a superset of the kernels default tiny configuration.
#

CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_LD_DEAD_CODE_DATA_ELIMINATION=y
CONFIG_SLUB=y
CONFIG_SLUB_TINY=y
# CONFIG_SMP is not set
# CONFIG_IRQ_STACKS is not set
CONFIG_NOHIGHMEM=y